In [1]:
#importing different libraries
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pydoc as python
import yfinance as yf

In [23]:
retire_age = 65
my_age = 22
four01k_contrib = 20500

#calculating total contributions
(retire_age - my_age) * (four01k_contrib)

881500

In [26]:
balance = 0
interest = .1361 + 1

#creating 401k for-loop
for age in range (retire_age - my_age):
    balance = (balance * interest) + four01k_contrib
print(age, balance)

42 36224778.07905782

In [ ]:
balance -> (0) + (20500)
balance -> balance + (20500)
year 3 -> balance

In [6]:
#download data frame with interest rates
data = yf.download('SPY', period = '10y')['Adj Close']

[*********************100%***********************]  1 of 1 completed

In [7]:
data.resample ('y').last()

Date
2012-12-31    118.276718
2013-12-31    156.489258
2014-12-31    177.558609
2015-12-31    179.750214
2016-12-31    201.316467
2017-12-31    245.012985
2018-12-31    233.818344
2019-12-31    306.825470
2020-12-31    363.071594
2021-12-31    467.377563
2022-12-31    380.720001
Freq: A-DEC, Name: Adj Close, dtype: float64

In [8]:
#average interest from number of business days in a year
data.pct_change(252).mean() * 100

13.61282539111062

In [19]:
balance = 0
interest = 0.005207916312759982 + 1

retire_age = 65
my_age = 22
four01k_contrib = 20500/26

#creating 401k for-loop with bi-weekly contributions
for age in range ((retire_age - my_age) * 26):
    balance = (balance * interest) + four01k_contrib
print(age, balance)

1117 50223348.73129469

In [15]:
#average interest from trading periods bi-weekly
data.pct_change(10).mean()

0.005207916312759982